*{
    margin:0; 
    box-sizing: border-box;
}
@mixin rubik {
    font-family: 'Ubuntu', sans-serif;  
}
.wrapper{
    display: block;
    width: 1440px;
    height: auto;
    padding: 22px 60px 660px 60px;
    @media (max-width:428px){
        width: 428px;
        padding: 20px 10px 0px 10px;
    }
    @media (max-width:320px){
        width: 320px;
    }
    .b1{
        background-color: #F7F8FD;
        border-radius: 15px;
        margin-bottom: 15px;
        @media (max-width:428px){
            display: block;
            height: 323px;
            border-radius: 10px;
            margin-bottom: 10px;
            position: relative;
        }
        @media (max-width:320px){
            height: 361px;
        }
        .b1-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            padding: 25px 15px;
            box-sizing: border-box;
            @media (max-width:428px){
                padding: 15px 10px;
                position:none;
            }
            .b1-header-bwin{
                display: flex;
                flex-direction: row;
                align-items: center;
                .b1-header-bwin__one{
                    @include rubik();
                    font-size: 18px;
                    line-height: 21.33px;
                    font-weight: 500;
                    background-color: #FFC736;
                    background-image: linear-gradient(0deg, #FF630C, #FFC736);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    @media (max-width:428px){
                        font-size: 14px;
                        line-height: 16.59px;
                    }
                }
                .b1-header-bwin__fire{
                    margin-left: 19.47px;
                    margin-right: 15.47px;
                    @media (max-width:428px){
                        width: 9.56px;
                        height: 13.51px;
                        margin-left: 13.72px;
                        margin-right: 13.72px;
                    }
                }
                .b1-header-bwin__bwin{
                    color: #313446;
                    @include rubik();
                    font-size: 18px;
                    line-height: 21.33px;
                    font-weight: 500;
                    text-transform:uppercase ;
                    @media (max-width:428px){
                        font-size: 14px;
                        line-height: 16.59px;
                    }
                }
            }
            .b1-header-centr{
                position: absolute;
                width: 221px;
                left: 550px;
                top: -5px;
                @media (max-width:428px){
                    display: flex;
                    width: 181px;
                    height: 34px;
                    left: 168px;
                }
                @media (max-width:320px){
                    width: 141px;
                    height: 32px;
                    left: 91px;
                }
            }
            .b1-header-stars{
                display: flex;
                flex-direction: row;
                .b1-header-stars__number{
                    color: #313446;
                    @include rubik();
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 20.15px;
                    @media (max-width:428px){
                        line-height: 16.59px;
                        font-size: 14px;
                    }
                }
                .b1-header-stars-group{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-left: 11.67px;
                    @media (max-width:428px){
                        display: none;
                    }
                }
                .b1-header-stars-group__star6{
                    display: none;
                    @media (max-width:428px){
                        display: flex;
                        margin-left: 11.42px;
                        width: 14.18px;
                        height: 13.52px;
                    }
                    @media (max-width:320px){
                        margin-left: 5.42px;
                    }
                }
            }
        }
        .b1-line{
            border-bottom: 2px solid #EBECF599;
            @media (max-width:428px){
                width: 408px;
            }
            @media (max-width:320px){
                width: 300px;
            }
        }
        .b1-main{
            display: flex;
            flex-direction: row;
            position: relative;
            padding: 15px;
            box-sizing: border-box;
            @media (max-width:428px){
                display: flex;
                flex-direction: column;
                padding: 15px 10px;
            }
            @media (max-width:320px){
                padding: 10px 10px;
            }
            .b1-main-logo{
                width: 148px;
                height: 125px;
                margin-right: 20px;
                .b1-main-logo__bwin{
                    @media (max-width:428px){
                        width: 72px;
                        margin-right: 15px;
                    }
                    @media (max-width:320px){
                        height: 84px;
                        margin-right: 10px;
                    }
                }
            }
            .b1-main-welcome{
                .b1-main-welcome-bonus{
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 10px;
                    margin-right: 190.74px;
                    @media (max-width:428px){
                        display: none;
                    }
                    .b1-main-welcome-bonus__surprice{
                        margin-right: 7.48px;
                    }
                    .b1-main-welcome-bonus__text{
                        color: #72768D;
                        @include rubik();
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 16.59px;
                    }
                }
                .b1-main-welcome__textbold{
                    color: #313446;
                    @include rubik();
                    font-size: 24px;
                    line-height: 28.44px;
                    font-weight: 700;
                    margin-bottom: 10px;
                    @media (max-width:428px){
                        position: absolute;
                        top: 14px;
                        left: 97px;
                        font-size: 18px;
                        line-height: 21.33px;
                    }
                    @media (max-width:320px){
                        top: 10px;
                    }
                }
                .b1-main-welcome__lorem{
                    color: #72768D;
                    @include rubik();
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    width: 284px;
                    @media (max-width:428px){
                        position: absolute;
                        font-size: 12px;
                        line-height: 14.22px;
                        width: 284px;
                        height: 42px;
                        top: 42px;
                        left: 97px;
                    }
                    @media (max-width:320px){
                        width: 198px;
                        height: 56px;
                        top: 38px;
                    }
                }
            }
            .b1-main-welcome__line{
                display: none;
                @media (max-width:428px){
                    display: flex;
                    border-bottom: 2px solid #EBECF599;
                    width: 408px;
                    position: absolute;
                    top: 94px;
                    left: 0px;
                }
                @media (max-width:320px){
                    width: 300px;
                    top: 104px;
                }
            }
            .b1-main-item{
                display: flex;
                flex-direction: column;
                justify-content:space-between ;
                @media (max-width:428px){
                    position: absolute;
                    top: 116px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-row-gap: 15px;
                    grid-column-gap: 25.74px;
                }
                @media (max-width:320px){
                    top: 121px;
                    width: 280px;
                    grid-template-columns: 1fr 1fr;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-areas:
                        "a a b b"
                        "c d d d";
                    grid-row-gap: 10px;
                    grid-column-gap: 15.61px;
                }
                .b1-main-item-group1{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    @media (max-width:428px){
                        grid-column: 2;
                        grid-row: 1;
                    }
                    @media (max-width:320px){
                        grid-area: b;
                    }
                    .b1-main-item-group__shatle{
                        margin-right: 10.47px;
                        @media (max-width:320px){
                            margin-right: 5.6px;
                            width: 12.79px;
                            height: 12.82px;
                        }
                    }
                    .b1-main-item-group__text{
                        color: #72768D;
                        @include rubik();
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16.59px;
                        white-space: nowrap;
                        @media (max-width:320px){
                            font-size: 12px;
                            line-height: 14.22px;
                        }
                    }
                }
                .b1-main-item-group2{
                    @extend .b1-main-item-group1;
                    @media (max-width:428px){
                        grid-column: 2;
                        grid-row: 2;
                    }
                    @media (max-width:320px){
                        grid-area: d;
                    }
                }
                .b1-main-item-group3{
                    @extend .b1-main-item-group1;
                    @media (max-width:428px){
                        grid-column: 1;
                        grid-row: 1;
                    }
                    @media (max-width:320px){
                        grid-area: a;
                    }
                }
                .b1-main-item-group4{
                    @extend .b1-main-item-group1;
                    @media (max-width:428px){
                        grid-column: 1;
                        grid-row: 2;
                    }
                    @media (max-width:320px){
                        grid-area: c;
                    }
                }
            }
            .b1-main-brand{
                margin-left: 94px;
                @media (max-width:428px){
                    margin-left: 0px;
                }
                .b1-main-brand-group{
                    border-collapse: collapse;
                    @media (max-width:428px){
                        display: none;
                    }
                    th{
                        padding-right: 20px;
                        padding-bottom: 12px;
                    }
                }
                .b1-main-brand-more{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    @media (max-width:428px){
                        position: absolute;
                        top: 244px;
                    }
                    @media (max-width:320px){
                        top: 287px;
                    }
                    .b1-main-brand-more__line-left{
                        border-top: 2px solid #A6AAC3;
                        width: 86px;
                        @media (max-width:428px){
                            width: 144px;
                            margin-right: 11px;
                        }
                        @media (max-width:320px){
                            width: 91px;
                            margin-right: 10px;
                        }
                    }
                    .b1-main-brand-more-info{
                        display: inline-flex;
                        align-items: center;
                        text-decoration: none;
                        .b1-main-brand-more-info__text{
                            color: #A6AAC3;
                            @include rubik();
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 15.41px;
                            margin-right: 9.25px;
                        }
                    }
                    .b1-main-brand-more-info2{
                        @extend .b1-main-brand-more-info;
                    }
                    .b1-main-brand-more-info3{
                        @extend .b1-main-brand-more-info;
                    }
                    .b1-main-brand-more__line-right{
                        border-top: 2px solid #A6AAC3;
                        width: 86px;
                        margin-right: 20px;
                        @media (max-width:428px){
                            width: 144px;
                            margin-right: 0px;
                            margin-left: 11px;
                        }
                        @media (max-width:320px){
                            width: 91px;
                            margin-right: 0px;
                            margin-left: 10px;
                        }
                    }
                }
            }
            .b1-main-pay{
                display: flex;
                flex-direction: column;
                margin-left: 58px;
                @media (max-width:428px){
                    position: absolute;
                    top: 185px;
                    flex-direction: row;
                    margin-left: 0px;
                }
                @media (max-width:320px){
                    top: 174px;
                    flex-direction: column;
                }
                .b1-main-pay__bonus{
                    width: 180px;
                    height: 55px;
                    border: none;
                    border-radius: 10px;
                    background-color: #53AF1B;
                    color: #FFFFFF;
                    @include rubik();
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16.59px;
                    margin-bottom: 15px;
                    @media (max-width:428px){
                        width: 189px;
                        height: 44px;
                        font-size: 12px;
                        line-height: 14.22px;
                    }
                    @media (max-width:320px){
                        width: 280px;
                        height: 44px;
                        font-size: 12px;
                        line-height: 14.22px;
                        margin-bottom: 10px;
                    }
                }
                .b1-main-pay__review{
                    @extend .b1-main-pay__bonus;
                    background-color: #EBECF57D;
                    color:#6F728C;
                }
            }
        } 
    }
    .foother{
        display: none;
        flex-direction: row;
        justify-content: space-between;
        height: 205px;
        background-color: #F1F3FD;
        padding: 15px;
        border-top: 2px solid #EBECF599;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;    
        @media (max-width:428px){
            flex-direction: column;
            height: 446px;
            padding: 10px;
        }
        .foother-brand{
            display: none;
            @media (max-width:428px){
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 15px;
            }
            @media (max-width:320px){
                margin-bottom: 10px;
            }
            .foother-brand__1{
                @media (max-width:320px){
                    width: 38.25px;
                    height: 24px;
                }
            }
            .foother-brand__2{
                @extend .foother-brand__1;
            }
            .foother-brand__3{
                @extend .foother-brand__1;
            }
            .foother-brand__4{
                @extend .foother-brand__1;
            }
            .foother-brand__5{
                @extend .foother-brand__1;
            }
            .foother-brand__6{
                @extend .foother-brand__1;
            }
        }
        .foother-left{
            display: flex;
            width: 446px;
            height: 175px;
            color: #72768D;
            @include rubik();
            font-size: 14px;
            font-weight: 400;
            line-height: 25px;
            word-wrap: break-word;
            @media (max-width:428px){
                font-size: 12px;
                line-height: 20px;
                height: 140px;
                width:382px;
            }
            @media (max-width:320px){
                font-size: 10px;
                line-height: 15px;
                width:280px;
                height: 120px;
                margin-bottom: 10px;
            }
        }
        .foother-centr{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 404px;
            height: 175px;
            border: 2px solid #EBECF5;
            border-radius: 15px;
            padding: 15px 29px 15px 20px;
            @media (max-width:428px){
                width: 388px;
                height: 106px;
                padding: 10px 10px 10px 10px;
            }
            @media (max-width:320px){
                width: 280px;
                height: 137px;
                padding: 10px 10px 10px 10px;
                margin-bottom: 10px;
            }
            .foother-centr-lorem{
                display: flex;
                flex-direction: row;
                align-items: center;
                .foother-centr-lorem__image{
                    @media (max-width:428px){
                        display: flex;
                        width:8.13px ;
                        height: 9.51px;
                    }
                }
                .foother-centr-lorem__text{
                    margin-left: 10.34px;
                    color: #72768D;
                    @include rubik();
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 25px;
                    @media (max-width:428px){
                        font-size: 12px;
                        line-height: 14.22px;
                        margin-left: 7.99px;
                    }
                }
            }
        }
        .foother-right{
            @extend .foother-centr;
            .foother-right-lorem{
                @extend .foother-centr-lorem;
                .foother-right-lorem__image{
                    @extend .foother-centr-lorem__image;
                }
                .foother-right-lorem__text{
                    @extend .foother-centr-lorem__text;
                }
            }
        }
    }
    .b2{
        @extend .b1;
    }
    .foother2{
        @extend .foother;
    }
    .b3{
        @extend .b1;
    }
    .foother3{
        @extend .foother;
    }
}